*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;
}
body{
  height: 100vh;
  text-align: center;
  padding-top: 160px;
  background-image: url(https://i.ibb.co/3rvDw4L/background-image.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  font-family: 'Inter', sans-serif;

}
h3{
  font-size: 16px;
  line-height: 19px;
  color: white;
}
h3 span{
  color: #FFC700;
}
h1{
  font-family: 'Emilys Candy', cursive;
  color: #FFC700;
  font-weight: 400;
  font-size: 64px;
  line-height: 80px;
}
p{
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 72px;
  color: white;
  opacity: 0.7;
}
a{
  padding: 12px 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: white;
  opacity: 0.6;
}

a:hover,
.btn-primary{
  text-decoration: none;
  color: black;
  background-color:#FFC700;
  opacity: 1;
}